* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

.movie-title {
  font-family: Montserrat, sans-serif;
  color: #555;
}

.back-btn {
  font-weight: bold;
  border: none;
  font-size: 24px;
  color: #555;
  margin-left: 177px;
  margin-top: 24px;
  cursor: pointer;
}

/* .movie-img {
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 277px;
  height: 435px;
  margin-top: 45px;
  margin-left: 190px;
} */

.movie-card__container {
  display: flex;
}

.movie-img {
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 277px;
  height: 435px;
  margin-top: 45px;
  margin-left: 180px;
  margin-right: 30px;
}

.movie-details-container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 624px;
}

.movie-title {
  font-family: Montserrat, sans-serif;
  color: #555;
  margin-bottom: 10px;
}

.plot-title {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #555;
}

.plot {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
  font-weight: 200;
  font-size: 18px;
}

.movie-details {
  margin-top: 50px;
}

.overview {
  font-size: 20px;
}

p {
  margin-top: 21px;
}

.pg {
  border: 1px solid #555;
  border-radius: 4px;
  margin-right: 16px;
  padding: 4px 8px;
}

.movie-year{
  margin-right: 16px;
}

.movie-genre{
  margin-right: 16px;
}


.actors-title{
  font-size: 20px;
  color: #555;
  font-weight: 600;
}

.actors{
  font-weight: 200;
  font-size: 18px;
}

.director{
  font-weight: 200;
  font-size: 18px;
}

.boxOffice{
  font-weight: 200;
  font-size: 18px;
}

.released{
  font-weight: 200;
  font-size: 18px;
}

.released-title{
  font-size: 20px;
  color: #555;
  font-weight: 600;
}

.boxOffice-title{
  font-size: 20px;
  color: #555;
  font-weight: 600;
}

.director-title{
  font-size: 20px;
  color: #555;
  font-weight: 600;
}


.metascore-title{
  font-size: 20px;
  color: #555;
  font-weight: 600;
}

.metascore{
  font-weight: 200;
  font-size: 18px;
}





          
@media (max-width: 930px) {
 .movie-card__container{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;
 }
  }

           
@media (max-width: 664px) {
.movie-img{
margin:  0 auto;
}
  }
   


            
  @media (max-width: 677px) {
.back-btn{
margin-top: 175px;
font-size: 15px;
}

  }


  @media (max-width: 677px) {
    .back-btn{
  margin-left: 188px;
    }
    
      }


      
      @media (max-width: 500px) {
        .movie-details-container {
          width: auto;
          margin-left: 20px;
          margin-right: 20px;
        }
      }


      
  @media (max-width: 400px) {
    .pg{
border: none;
    }
    
      }