

/* * {
    box-sizing: border-box;
    color: #555;
    font-family: Montserrat,sans-serif;
    margin: 0;
    padding: 0;
} */

/* .title{
    font-size: 60px;
}



.user__card{
    display: flex;
    flex-direction: column;
    width: 700px;
    color: #555;
} */